
@import url('https://fonts.googleapis.com/css2?family=Roboto:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */


:root {
    --lighblue: #F8F9FE;
    --blue: #3079AB;
    --white: #ffffff;
    --black: #000000;
    --gray: #C4C4C4;
    --green: #18B05E;
    --footer: #EDF5FF;
    --formbg: #F8F9FE;
}

.mt1{ margin-top: 1rem !important;}
.mt2{ margin-top: 2rem !important;}
.mt3{ margin-top: 3rem !important;}
.mt4{ margin-top: 4rem !important;}
.mt5{ margin-top: 5rem !important;}
.mb1{ margin-bottom: 1rem !important;}
.mb2{ margin-bottom: 2rem !important;}
.mb3{ margin-bottom: 3rem !important;}
.mb4{ margin-bottom: 4rem !important;}
.mb5{ margin-bottom: 5rem !important;}
.mr1{ margin-right: 1rem !important;}
.mr2{ margin-right: 2rem !important;}
.mr3{ margin-right: 3rem !important;}
.mr4{ margin-right: 4rem !important;}
.mr5{ margin-right: 5rem !important;}
.ml1{ margin-left: 1rem !important;}
.ml2{ margin-left: 2rem !important;}
.ml3{ margin-left: 3rem !important;}
.ml4{ margin-left: 4rem !important;}
.ml5{ margin-left: 5rem !important;}

.w100{ width: 100% !important;}
.w80{ width: 80% !important;}
.w70{ width: 70% !important;}
.w50{ width: 50% !important;}
.w40{ width: 40% !important;}

html, body {
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--lighblue);
    /* padding-bottom: 5rem; */
}

.container-full{
    padding: 0;
    margin: 0;
}

.header {
    font-family: Roboto;
    font-size: 18px;      
}

.logo-top{
    width: 7rem;
    position: absolute;
    top: 15px;
    left: 8%;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--white);
    padding: 0.5rem 2rem; 
}
  
.header li {
    float: right;
}
  
.header li a {
    display: block;
    color: var(--black);
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

.header li a:hover {
    text-decoration: underline;
}

.header .active{
    font-weight: 600;
    text-decoration: underline;
    cursor: default;
    
}

.row{
    width: 70%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.row p{
    font-size: 38px;
    color: var(--blue);
    font-family: Poppins;
    font-weight: 600;
}

.forms{
    display: grid;
    grid-template-columns: 50% 40%;
    grid-gap: 20px 150px;

}

.forms > div{
    padding: 1%;
}

.top, .bottom{
    display: grid;
    grid-gap: 10px;
}

.top .i3{ 
    grid-column: 1 / span 2;
    grid-row: 2; 
}

.bottom .i1{
    grid-column: 1 / span 2;
    grid-row: 1;
}

.bottom .i4{
    grid-column: 1 / span 2;
    grid-row: 3;
}

.bottom .i5{
    grid-column: 1 / span 2;
    grid-row: 4;
}

input[type=submit] {
    background-color: var(--blue);;
    color: white;
    padding: 30px 50px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    font-family: Poppins;
    font-weight: 700;
    font-size: 18px;
}

input[type=text], input[type=email],
input[type=password] {
/* width: 82.5%;  */
padding: 12px; 
border: 1px solid #ccc;
border-radius: 10px; 
box-sizing: border-box; 
margin: 0;
height: 50px;
color: var(--blue);
font-size: 1.3rem;
}  

textarea {
    /* width: 82.5%;  */
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 10px; 
    box-sizing: border-box; 
    margin: 0;
    height: 150px;
    color: var(--blue);
    font-size: 1.3rem;
    }  

input[type="checkbox"]:checked + label::after {
    content: '';
    position: absolute;
    width: 1.2ex;
    height: 0.4ex;
    top: 0.9ex;
    left: 0.4ex;
    border: 3px solid var(--blue);
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
 }

 input[type="checkbox"] {
    line-height: 2.1ex;
 }

 input[type="checkbox"] {
     position: absolute;
     left: -999em;
 }

 input[type="checkbox"] + label {
     position: relative;
     overflow: hidden;
     cursor: pointer;
 }

 input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    vertical-align: -25%;
    height: 2ex;
    width: 2ex;
    background-color: var(--white);
    border: 1px solid #000;
    border-radius: 4px;
    margin-right: 0.5em;
 }

.forms .label{
    display: block;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.rbox{
    border: 1px solid #c4c4c4;
    padding: 44px 50px;
    background-color: var(--white);
    border-radius: 10px;
    min-height: 17.5rem;
    display: grid;
    grid-gap: 10px;

}

.rform label{ text-align: center; }
.chbox{
    display: block;
    margin-top: 20px;
}

.chbox label{
    font-family: Poppins;
    font-weight: 400;
    text-decoration: underline;
    font-size:14px;
}

form ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--gray);
    opacity: 1; /* Firefox */
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
  }
  

/* step 1,2 */
.row-steps{
    width: 80%;
    margin: auto;
  
}

/*title */
.row-steps .title{ 
    font-size: 38px;
    color: var(--blue);
    font-family: Poppins;
    font-weight: 600;
    margin-bottom: 0;
}

/* subtitle */
div.label, p.label{
    display: block;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 0;
}

/* progressbar container */
.pbar{
    width:90%;
    margin: auto;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 0;
}

.pbar > div{
    text-align: center;
}

.progressbar{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    position: relative;
}

#progressbar{
    width: 65%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    height: 2px;
    z-index: -1;
    position: absolute;
    left: 17%;
    top: 33%;
}

progress::-webkit-progress-value {
    background: var(--green);
}
progress::-webkit-progress-bar {
    background: var(--gray);
}

.circle{
    height: 22px;
    width: 22px;
    background-color: var(--gray);
    border-radius: 50%;
    display: inline-block;
    z-index: 1000;
}

.circle-current{
    background-color: var(--blue);
}

.circle-active{    
    background-color: var(--green);
    position: relative;
}

.circle-active:after{ 
    content: '✔';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 0;
    height: 0;
    text-align: center;
    border-radius: 50%;
    color: var(--white);
    font-size: 11px;
}

.c1{
    grid-row-start: 2;
    grid-column-start: 1;
    z-index:1;
}

.c2{
    grid-row-start: 2;
    grid-column-start: 2;
    z-index:1;
}

.c3{
    grid-row-start: 2;
    grid-column-start: 3;
    z-index:1;
}

.text{
    display: block;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}
.plabel{
    padding-left: 5%;
}

.s2{
    color: var(--blue);
    font-family: Poppins;
}
.chbox .step{ text-decoration: none !important;}

.btn-group{
    float: right; 
    font-weight:700;
}

.btn{
    width: 80px;
    padding: 15px 20px;
    cursor: pointer; 
    font-weight:700;
}

.back{
    background-color: var(--white);   
    border-radius: 12px 0px 0px 12px;
    color: var(--black);
    border: 1px solid var(--gray);
    margin-right: -4px;
}
.next{
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 0 12px 12px 0;
    color: var(--white);
    margin-left: 0;

}

/* step3 */
.dragdrop{
    padding: 4rem;
    display: grid;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='white' stroke='%23C4C4C4FF' stroke-width='2' stroke-dasharray='8%2c 22%2c 11%2c 20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.dragdrop > div {    
    
}

.upload-btn{
    border-radius: 12px;
    color: var(--blue);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    border: 1px solid var(--blue);
    width: 200px;
    height: 70px;
    background-color: var(--white);
}

.upload-btn:hover{
    color: var(--white);
    background-color: var(--blue);
    cursor: pointer;
}

.sublabel{
    color: var(--gray);
    margin-top:0;
    font-family: Roboto;
    font-size: 16px;
}

.disabled{ color: var(--gray); }
.step-disabled{ font-weight: normal !important; }

/* contact us */
main.contactus{
    background-color: var(--white);
    margin-top: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
}

footer{
    background-color: var(--footer);
    font-family: Poppins;
    /* position:relative;
       left: 0px;
       bottom: 0px;
       width: 100%; */

}
footer .top{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 3rem 7rem;
    
}

footer .top > div{
    /* border: 1px solid red; */
}

footer .top .right{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    grid-gap: 0 3rem;
}

footer .top .right > div{
    /* border: 1px solid green; */
    padding: 1rem;
    
}

.f-title{
    font-weight: 700;
    font-size: 20px;
}

footer .top .left p{
    font-size: 0.8rem;
    padding-left: 2rem;
    margin-top:0;
}

footer img{
    width: 60%;
}

i.fa{
    margin-right: 10px;
    color: var(--blue);
}

/* middel footer section */
footer .middle{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 3rem 7rem;
    font-size: 0.8rem;
    justify-content: space-around;
    grid-gap: 0 3rem;
}

/* bottom footer */
footer .bottom{
    border-top: 2px solid var(--black);
    text-align: center;
    font-size: 0.8rem;
}

/* header */
header .hero{
    /* width: 100%; */
    background-image: URL("img/contactus-hero.png");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

header { margin-bottom: 3rem; }
header .hero .caption{
    font-family: Poppins;
    font-weight: 700;
    color: var(--blue);
    text-align: center;
    background-color: var(--formbg);
    border: 1px solid var(--blue);
    position: absolute;
    bottom: -2.7rem;
    width: 78%;
    left: 11%;
    padding: 0;
    border-radius: 12px;
    font-size: 1.5rem;
}

/* main */
.row-contact span{
    text-align: center;
}

.row-contact span p{
    margin: 3rem auto;
}

.cform {
    background-color: var(--formbg);
    padding: 3rem 4rem 4rem;
    border-radius: 12px;
    width: 50%;
    margin: auto;
    border: 1px solid var(--blue);
}

.cform-btn {
    background-color: var(--blue);;
    color: white;
    padding: 15px 50px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
}

.cbtns{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 0 2rem;
    font-family: Poppins;
    font-weight: 700;
    margin-top:0;
}

.cbtns > div{
    border: 1px solid var(--blue);
    background: var(--formbg);
    border-radius: 12px;
    padding: 3rem;
    text-align: center;
    width: 19rem;
}

.cbtns > div div:first-child{
    font-size: 1.5rem;
}

.cbtns > div div:nth-child(2){
    font-size: 1.1rem;
    margin-top: 10px;
}

.map-img{
    text-align: center;
    margin-bottom: 3rem;
}

.map-img img{
    width:70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* login */

.hero-empty{
    background-color: var(--white);
    padding-top: 4rem;
    margin-bottom: -50px;
    display: grid;
    grid-template-columns: auto 40% auto;
    align-items: center;
    padding-right: 10rem;
    padding-left: 10rem;
}

header .hero-empty .caption{
    font-family: Poppins;
    font-weight: 700;
    color: var(--blue);
    text-align: center;
    font-size: 1.5rem; 
}

.b2{
    height: 10px;
    background-image:
    linear-gradient(
      to right, 
      var(--blue), var(--white)
    );
}
.b3{
    height: 10px;
    background-image:
    linear-gradient(
      to right, 
      var(--white), var(--blue)
    );
}

.loginform {
    padding: 3rem 1rem;
    border-radius: 12px;
    width: 30rem;
    margin: 4rem auto;
    border: 1px solid var(--blue);
    border-top: 2px solid var(--blue);
    font-family: Poppins;
    font-size: 1.3rem;
}

.loginform-btn {
    background-color: var(--blue);
    color: white;
    padding: 15px 1rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    width: 80%;
    margin: auto;
}

.loginform-google-btn {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--blue) !important;
    padding: 15px 1rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    width: 80%;
    margin: auto;
}

.loginform .box{
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 2rem;
}

.border{
    border-bottom: 1px solid #000;
    width: 8rem;
}

.loginform .space{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 40px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.loginform .space > div{
    text-align: center;
}

/* login2 */
.loginform .box input[type=text], .forgot-link{
    margin:auto;
}

.forgot-link{
    margin-bottom: -15px;
}
.forgot-link a{
    font-size: 0.7rem;
    color: var(--black);
    display: block;
    margin-top: 5px;
    width: 8rem;
    transition: color 1s;
    
}

.forgot-link a:hover{
    color: var(--blue);
}

  /* User dashboard */
header {
    font-family: Roboto;
    font-size: 18px;      
}

.dash-logo img{
    width: 7rem;
}

.dash-logo{
    text-align: right;
}

.header-dashboard{
    position: fixed;
    top:0;
    left:0;
    border: 1px solid var(--blue);
    height: 100px;
    display: grid;
    grid-template-columns: 200px auto auto 200px;
    background-color: var(--white);
    grid-gap:50px;
    align-items: center;

}

.header-dashboard > div{
    /* border: 1px solid red; */
}

.dash-top-menu{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap:30px;
    justify-content: center;
    font-weight: 600;
}

.topright-menu{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:20px;
    justify-content:flex-start;
}

.search-bar input[type=text]{
    height: 35px;
    transition: width 0s;
    width: 100%;  
}

.search-bar input:focus{
    width: 60%; 
    position: absolute;
    top: 33px; 
    right: 20%;
}

.search-bar i{
    position: absolute;
    right: 16rem;
    top: 2.3rem;
}

.search-bar input:focus + span{
    display: none;
}




.dashboard{
    min-height: 85vh;
    position: relative;
}
aside{
    width: 350px;
    position: absolute;
    left: 0;
    top: 54px;
    background-color: var(--white);
    height: 80vh;
    z-index: -1;
    display: grid;
}

aside > div{
    border: 1px solid red;
}
























@media (max-width: 1100px) {
    .forms{
        grid-template-columns: auto;
    
    }

    input[type=text], input[type=email] {
        width: 100%; 

    }  

    .row p{
        font-size: 30px;
    }

    .row{
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    
    }

    .logo-top{
        width: 7rem;
        position: absolute;
        top: 15px;
        left: 10px;
    }

    /* contact us */
    .top img{
        width: 40%;
    }

    footer .top .left p{
        font-size: 0.6rem;
        padding-left: 0;
        margin-top:0;
    }

    footer{
        padding: 3rem 10px !important;
    
    }

    footer .top .right{
        grid-template-columns: auto auto auto;
        justify-content: space-between !important;
        grid-gap: 0 3rem;
    }

    .cbtns{
        grid-template-columns: auto;
        grid-column-gap: 10px;
        justify-content: center;
        padding: 0 1rem;
        grid-row-gap: 10px;
    }

    .map-img img{
        width:90%;
    }

    .cform {
        padding: 3rem 2rem 4rem;
        width: 70%;
    }
    
    
}


@media (max-width: 768px) {
    /* step3 */
    .dragdrop{
        grid-template-columns: auto !important;
        padding: 2rem !important;
        justify-content: center !important;
    }


/* contact us */
    footer .top{
        grid-template-columns: auto !important;
        justify-content: center !important;
        
    }

    footer .top .right{
        font-size: 0.7rem;
    }

    .f-title{
        font-weight: 500;
        font-size: 16px;
    }

    footer .middle{
        grid-template-columns: auto auto auto;
        font-size: 0.8rem;
        grid-gap: 20px 3rem;
    }
    
}

@media (max-width: 440px) {
    .row p{
        font-size: 20px;
    }
    .rbox{
        padding: 20px;
        min-height: 17.5rem;    
    }
    .row{
        width: 90%;
        margin-left: 5%;
    }

    /* contact us */
    footer .top .right{
        grid-template-columns: auto !important;
        /* justify-content: center !important; */
        grid-gap: 0 3rem;
    }

    footer .top .right{
        font-size: 1rem;
    }

    footer .middle{
        grid-template-columns: auto;
        padding: 1rem 10px;
        font-size: 1rem;
        justify-content: space-around;
        grid-gap: 20px 3rem;
    }
}
